[buildout]
develop = .
parts = test lcaclassifier lcaclassifier_conf mkdirs silvamod greengenes unite pydev
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = LCAClassifier

[lcaclassifier]
recipe = zc.recipe.egg:script
eggs = LCAClassifier
interpreter = python

[lcaclassifier_conf]
recipe = z3c.recipe.template
input = etc/lcaclassifier.conf.in
output = ${buildout:parts-directory}/etc/lcaclassifier.conf

[mkdirs]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:parts-directory}/flatdb

[silvamod]
recipe = hexagonit.recipe.download
url = http://services.cbu.uib.no/supplementary/crest/silvamod.tar.gz
destination = ${buildout:parts-directory}/flatdb
md5sum = c7f77ab1981c1a4b24620d243282d937

[greengenes]
recipe = hexagonit.recipe.download
url = http://services.cbu.uib.no/supplementary/crest/greengenes.tar.gz
destination = ${buildout:parts-directory}/flatdb
md5sum = 44ed4580b576045cbe875c9e4c5de6c5

[unite]
recipe = hexagonit.recipe.download
url = http://services.cbu.uib.no/supplementary/crest/unite.tar.gz
destination = ${buildout:parts-directory}/flatdb
md5sum = d361e8a932e05387dbc6deb85a7558bb

[pydev]
recipe = pb.recipes.pydev
eggs = ${lcaclassifier:eggs}

[versions]
numpy = 1.6.2
